$background-color: hsl(30, 38%, 92%);
$background-alt-color: hsl(0, 0%, 100%);
$button-color: hsl(158, 36%, 37%);
$button-alt-color: hsl(157, 39%, 19%);
$price-color: hsl(158, 36%, 37%);
$paragraph-color: hsl(228, 12%, 48%);